body {
    font-family: sans-serif;
    margin: 0;
}

#first-nav {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#first-nav a {
    border: 1px solid black;
    padding: 1em;
    background-color: crimson;
    color: ghostwhite;
    text-decoration: none;
}

#first-nav-left {
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#first-nav-right {
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
}

/* Second nav */

#second-nav {
    margin: 1.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

#second-nav-logo {
    font-size: 24px;
    font-weight: 800;

}

#second-nav-middle > a {
    padding-right: 1em;
    color: grey;
    text-decoration: none;
}

#second-nav-right {
    margin: 0;
    padding: 1em;
    border-radius: 1.5em 1.5em;
    background: linear-gradient(90deg, rgba(15, 185, 0, 1) 0%, rgba(0, 186, 191, 1) 100%);
}

#second-nav-right > a {
    color: ghostwhite;
    text-decoration: none;
}
