body {
    font-family: sans-serif;
    margin: 20px;
    padding: 10px;
    border: 8px solid black;
}

header {
    background-color: lightgrey;
    height: 80px;
    width: 100%;
    display: flex;
}

header > div {
    background-color: white;
    height: 40px;
    width: 20%;
    align-self: flex-end;
    padding: 10px;
    margin: 5px;
}

nav {
    border: 2px solid black;
    border-bottom: 0;
    height: 40px;
    display: flex;
}

footer {
    background-color: lightgrey;
    width: auto;
    height: 40px;
    padding: 10px;
}

/* zadanie: */

main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 50vh;
}

main #col1, #col3 {
    border: 2px solid black;
    flex: 1;
}

main #col2 {
    border: 2px solid black;
    flex: 3;
}

@media (max-width: 1000px) {
    main {
        flex-wrap: wrap;
    }
    main #col3 {
        flex-basis: 100%;
    }
}

@media (max-width: 600px) {
    main {
        flex-direction: column;
    }
    main #col3 {
        flex: 1;
    }
    header > div {
        display: none;
    }
}
